/*--- GENERAL ---*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #2b2b2b;
  background-color: #f0edea;
  margin: 0;
  width: 100%;
}

a {
  color: #202020;
  text-decoration: none;
}

hr {
  border-top: 1px solid;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.link-dark {
  color: #ebe4de;
  text-decoration: underline;
}

.App {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  margin: 0;
}

.spacer {
  margin-top: 8vh;
}

.mega-spacer {
  margin-top: 50%;
  bottom: 0;
}

.error {
  font-size: 4em;
}

/*--- TEXT ---*/
.txt {
  text-align: center;
}

.txt-cover {
  font-size: 3em;
  color: #ebe4de;
}

.txt-form {
  font-size: 1.5em;
  margin: 30px;
  color: #2b2b2b;
}
.txt-footnote {
  font-size: 1em;
  margin: 10px;
  color: #2b2b2b;
}

.txt-info-note {
  margin-top: 5em;
  font-size: 1.2em;
}

.txt-footer {
  font-size: 1em;
  margin: 10px;
  color: #ebe4de;
}

.txt-logo {
  text-align: left;
  font-weight: bolder;
  font-size: 1em;
  color: #202020;
  margin: 0;
  margin-top: -0.6em;
  margin-left: 0.2em;
}

.txt-nav {
  font-size: 1.2em;
  color: #2b2b2b;
  margin-top: -0.3em;
}

.txt-space {
  margin-top: 0px;
}

.txt-underline:hover {
  border-bottom: 2px solid #2b2b2b;
}

.txt-workout-name {
  font-size: 1.5em;
  color: #2b2b2b;
  margin-bottom: 0px;
  margin-top: 10px;
}

.txt-view {
  font-size: .8em;
  color: #2b2b2b;
  margin-bottom: 10px;
  margin-top: 0px;
}

.txt-exercise-name {
  font-size: 1.5em;
  color: #202020;
  overflow: hidden;
  text-transform: capitalize;
}

.txt-filters {
  font-size: 1.5em;
  color: #2b2b2b;
  margin-top: -0.3em;
  text-transform: capitalize;
}

.txt-exerise-info {
  color: #2b2b2b;
  margin: 0;
  text-transform: capitalize;
}

.txt-card-title {
  font-size: 1.2em;
  color: #ebe4de;
  margin-top: -0.3em;
  margin-bottom: 10px;
}

.txt-card-text {
  font-size: .8em;
  color: #ebe4de;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.txt-info-list {
  font-size: 1.2em;
  color: #ebe4de;
  margin: 0px;
  margin-bottom: 10px;
}

/*--- BUTTONS ---*/
.btn {
  border: 3px solid #ebe4de;
  border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
  border: 3px solid #67d1c8;
  color: #67d1c8;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}

.btn-primary {
  background-color: #00000000;
  color: #ebe4de;
  width: 8em;
  height: 2em;
  font-size: 1.5em;
}

.btn-primary:hover {
  margin-top: -10px;
  background-color: #ffffffa9;
}

.btn-secondary {
  background-color: #00000000;
  border: 3px solid #67d1c8;
  color: #67d1c8;
  width: 5em;
  height: 2em;
  font-size: 1.2em;
}

.btn-secondary:hover {
  background-color: #202020;
}

.btn-tertiary {
  background-color: #00000000;
  border: 3px solid #67d1c8;
  color: #67d1c8;
  width: 6em;
  height: 2em;
  font-size: .9em;
}

.btn-tertiary:hover {
  background-color: #202020;
}

.btn-quaternary {
  background-color: #00000000;
  color: #202020;
  border: 3px solid #202020;
  width: 8em;
  height: 2em;
  font-size: .9em;
  margin-bottom: 5px;
}

.btn-quaternary:hover {
  color: #202020;
  background-color: #67d1c8;
  border: 3px solid #202020;
}

/*--- CARDS ---*/
.news-cards {
  margin: auto;
  padding: 20px;
  left: 0;
  text-align: center;
}

.goal-cards {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.routine-cards {
  width: 90%;
  margin: auto;
  text-align: center;
}

.exercise-cards {
  width: 90%;
  margin: auto;
  text-align: center;
}

.news-grid-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-content: space-between;
  justify-content: space-around;
}

.goal-grid-wrapper {
  float: center;
  width: 100%;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(auto-fill, minmax(300px, .5fr));
  align-content: space-between;
  justify-content: space-around;
}

.exercise-grid-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, .5fr));
  grid-auto-rows: 1fr;
  align-content: space-between;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #2b2b2b;
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.card:hover {
  cursor: pointer;
  background-color: #0a0a0a;
  border: 3px solid #67d1c8;
  border-radius: 6px;
  margin-top: -2px;
  transition: all 0.2s ease-in-out;
}

.card-img {
  height: 15em;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-base {
  color: #ebe4de;
  width: 100%;
  height: 8em;
}

.card-detail {
  color: #4e4b47;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: .5em;
}

.card-header {
  color: #67d1c8;
  margin: 0;
  margin-left: 5px;
  font-size: 1.6em;
}

.card-info {
  color: #ebe4de;
  margin-top: 0;
  margin-left: 5px;
  font-size: 1em;
  height: 8em;
}

.card-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.goal-card {
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  width: 100%;
  height: 20em;
  margin: 0;
  align-self: center;
  justify-self: center;
  align-items: center;
}

.goal-card:hover {
  cursor: pointer;
  background-color: #0a0a0a;
  border: 3px solid #67d1c8;
  border-radius: 6px;
  margin-top: -2px;
  transition: all 0.2s ease-in-out;
}

.goal-card-info {
  color: #ebe4de;
  bottom: 0;
  margin: 1em;
  margin-top: 4em;
  font-size: 1em;
}

.exercise-card {
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.exercise-card:hover {
  cursor: pointer;
  background-color: #67d1c8;
  margin-top: -2px;
  transition: all 0.2s ease-in-out;
}

.exercise-name {
  height: 8em;
}

.exercise-gif {
  height: 15em;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*--- EXERCISES ---*/
.exercises-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  left: 0;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.filter-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.filter-select {
  width: 40%;
  height: 2em;
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  font-size: 1em;
  margin-top: -0.5em;
}

.search-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.search-input  {
  width: 40%;
  height: 2em;
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  font-size: 1em;
}

.title-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.title-input  {
  width: 40%;
  height: 2em;
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  font-size: 1em;
  margin-bottom: 1em;
}

/*--- ROUTINES ---*/
.routines-form {
  margin-top: 30px;
  margin-bottom: 300px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.routine-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.daily-select {
  width: 90%;
  justify-self: flex-end;
  margin-bottom: 30px;
  height: 5em;
  font-size: 1em;
}

.grid-gap {
  margin-top: 5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*--- FORMS ---*/
.accounts-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  padding: 10px;
}

.workouts-form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.input {
  width: 20em;
  height: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #2b2b2b;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 1em;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

/*--- DASHBOARD ---*/
.dash-page {
  margin: auto;
  padding: 20px;
  left: 0;
  text-align: center;
}

.dashboard-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.dashboard-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.dashboard-workout-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #e4e4e4;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  align-self: center;
  justify-self: center;
}

.dashboard-workout-card:hover {
  cursor: pointer;
  background-color: #67d1c8;
  transition: all 0.4s ease-in-out;
}

/*--- VIEWER ---*/
.viewer-content {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20%;
}

.view-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

/*--- NAV ---*/
.nav-bar {
  /* 7adfda e67a00 67d1c8 */
  /* ebe1d7 2b2b2b */
  /* 47413b ebe4de */
  /* ececec 202020 */
  background-color: #67d1c8;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-bar-list {
  display: flex;
  list-style-type: none;
  font-size: 1em;
  margin: 0;
  padding-left: 0px;
}

.nav-bar-list li {
  padding: 20px;
  text-align: center;
}

.nav-bar-logo {
  padding: 3px;
  text-align: center;
  width: 60px;
  height:50px;
}

.push-left {
  margin-left: auto;
}

/*--- HOME ---*/
.home-content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  left: 0;
  top: 0;
}

.cover {
  background-color: #2b2b2b;
  color: #ebe4de;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/*--- FOOTER ---*/
.footer {
  background-color: #2b2b2b;
  color: #ebe4de;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer-container {
  background-color: #2b2b2b;
  color: #ebe4de;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer-left {
  margin-right: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-right {
  margin-left: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*--- MOBILE ---*/
@media only screen and (max-width: 600px) {
  .nav-bar-list {
    font-size: .85em;
    padding: 0;
  }

  .txt-space {
    margin-top: 0.4em;
  }
}